@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #333;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#quote-box {
  background-color: #fff;
  border-radius: 14px;
  display: table;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  .quote-text {
    width: 450px;
    height: auto;
    text-align: center;
    font-weight: 450;
    clear: both;
    font-size: 1.8em;
  }
  .quote-author {
    width: 450px;
    text-align: right;
    padding-top: 15px;
    clear: both;
    font-size: 1.1em;
   }
  .button {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 28px;
    opacity: 1;
    cursor: pointer;
    &:hover {
      opacity: 0.75;
    }
    &#tweet-quote,
    &#google-author{
      float: left;
      padding: 0px;
      padding-top: 8px;
      text-align: center;
      font-size: 1.2em;
      margin-right: 5px;
      height: 30px;
      width: 40px;
    }
    &#new-quote {
      float: right;
    }
  }
}





